<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catharsis.Commons" version="4.0.1" targetFramework="net48" />
  <package id="CC-Functions.Misc" version="1.1.7409.23118" targetFramework="net48" />
  <package id="CC-Functions.W32" version="1.1.7448.24408" targetFramework="net48" />
  <package id="ImageProcessor" version="2.9.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="RestSharp" version="106.11.4" targetFramework="net48" />
  <package id="System.Management" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Yandex.Translator" version="2.0.0" targetFramework="net48" />
</packages>